
/* start utility class */
.center-star{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
hr{
  width: 150px;
  border: 1px white solid;  
  margin: 0px 10px;
  opacity: 1; 
}
.hr-black{
    width: 150px;
    border: 1px rgb(0, 0, 0) solid;  
    margin: 0px 20px;
    opacity: 1; 
}

/* end utility class */

/* section 1 */
.navbar{  
    background-color: rgb(19, 19, 83);
}
.navbar-collapse{
    flex-grow: 0;
}
section{
    text-align: center;
    align-items: center;
    background-color: rgb(55, 177, 161);
    color: white;
}
section>div{
    margin-bottom: 40PX;
}

section>div svg{
    width: 300px;
    margin-top: 80px;
    margin-bottom: 20px;
}

section>div span{
    padding-bottom: 10px;
}
/* section 2 */

figure>div{
    text-align: center; 
    margin-top: 30px;
}
.box div img{
    width: 100%;  
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* section 3 */
article{
    background-color: rgb(55, 177, 161);
    color: white;

}
article .box{  
    display: flex;
    align-items: center;
}
.title-article>h1{
    margin-top: 30px;
    text-align: center;
}
article button{
    background-color: transparent;
    border: 1px white solid;
    padding: 5px 0px;
    margin-bottom: 50px;
    color: white;
}

/* section 4 */
.contact{ 
    text-align: center;
    height: 400px;
}
.contact div h1{
    margin: 20px 0px;
}
.input> input{
    width: 100%;
    border: none;
    border-bottom: 1px black solid;
   
    
}
/* footer */
footer .top-footer{
    text-align: center;  
    background-color: indigo;
}
.top-footer div{
    border: 1px black solid;
}
.footer{
    align-items: center;
    text-align: center;
    height: 50px;
    background-color: lightblue;
    
}