
/* start utility class */
.center-star{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
hr{
  width: 150px;
  border: 1px white solid;  
  margin: 0px 10px;
  opacity: 1; 
}
.hr-black{
    width: 150px;
    border: 1px rgb(0, 0, 0) solid;  
    margin: 0px 20px;
    opacity: 1; 
}

/* end utility class */

/* nav section + section 1*/
.navbar{ 
    color: white; 
    background-color: rgb(19, 19, 83);
}
.navbar-collapse{
    flex-grow: 0;
}
nav .navbar-brand{
    font-weight: bold;
}
section{
    text-align: center;
    align-items: center;
    background-color: rgb(55, 177, 161);
    color: white;
}
section>div{
    margin-bottom: 40PX;
}

section>div svg{
    width: 300px;
    margin-top: 80px;
    margin-bottom: 20px;
}

section>div span{
    padding-bottom: 10px;
}

/* section 2 */
.title-figure>h1{
    margin-top: 40px;
}
figure>div{
    text-align: center; 
    margin-top: 30px;
}
.box div img{
    width: 100%;  
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* section 3 */
article{
    background-color: rgb(55, 177, 161);
    color: white;

}
article .box{
    margin-top: 20px; 
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.title-article>h1{
    margin-top: 40px;
    text-align: center;
}
article button{
    background-color: transparent;
    border: 1px white solid;
    padding: 10px 0px;
    margin-bottom: 50px;
    color: white;
    display: flex;
    justify-content: center;
}
article button i{
    margin-right: 5px;
}

/* section 4 */

.contact div h1{
    text-align: center;
    margin-top: 40px;
}
.input> input{
    line-height: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px rgb(149, 149, 149) solid;    
}
.input>textarea{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px rgb(149, 149, 149) solid;
}
.input>button{
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 5px 10px;
}
/* footer */
footer{
    background-color: rgb(30, 57, 83);

}
.top-footer{
    color: white;
    text-align: center;  
}
.top-footer h3{
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
}
.top-footer span{
    margin-bottom: 20px;
    font-size: 15px;
}
/* copyright */
.footer{
    align-items: center;
    text-align: center;
    background-color: rgb(2, 20, 44);  
}
.footer div>h5{
    color:white;
    font-size: 10px;
    margin-top:20px ;
    margin-bottom: 20px;
}